// primacy Colors
$template: #02474A;
$template-akzent: #0c5b68;
$template-light: #28938B;
$template-blue: #11829f;
$template-dark: #191919;
$template-dark-background: #1d1f20;
$template-light: #cccccc;
$template-light-background: #E3E3E3;

// information Colors
$template-warning: #AD7f20;
$template-error: #BB2525;
$template-success: #218B25;
$template-information: #11829f;

// gradients:
$template-info-gradient: linear-gradient(40deg, rgba(17,130,159,1) 0%, rgba(40,147,155,1) 25%, rgba(12,91,104,1) 66%, rgba(2,71,74,1) 100%);


